﻿@model ItpilotTest.ViewModels.WeatherDataViewModel
@{
    ViewData["Title"] = "Wheather";
}

<div class="text-center data-content">
    <h1 class="display-4">Welcome to the weather forecast</h1>
    <h2>We will present the best clouds for you </h2>
    <h3>Please wait...</h3>; 
</div>

<!--Spinner-->
<div class="wrapper">

</div>
<div class="overlay"></div>
<div class="spanner">
    <div class="loader"></div>
</div>


