﻿
@model ItpilotTest.ViewModels.WeatherDataViewModel

<table id="dtTable" class="table table-striped table-bordered table-sm table-responsive" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th id="city" scope="col" class="th-sm">City</th>
            <th scope="row" class="th-sm">Weather</th>
            <th scope="row" class="th-sm">Description</th>
            <th id="temp" scope="row" class="th-sm">temp</th>
            <th scope="row" class="th-sm">Comments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WeatherDatas)
        {
            //get all the weathers data and populate the table
            var btnText = "";
            var btnBgc = ""; // use to define which colors class that are used in the buttons

            var placeholder = item.Comments ?? "Add comment"; // change the placeholder content if it already has a text or otherwise write add comment 
            //Show the add comment button if the item button is emty otherwise show edit 
            if(string.IsNullOrEmpty(item.Comments))
            {
                btnText = "Add comment";
                btnBgc = "btn-success";
            }
            else
            {
                btnText = "Edit";
                btnBgc = "btn-info";
            }
            <tr>
                <td>@item.City</td>
                <td>@item.Weather</td>
                <td>@item.Description</td>
                <td>@item.Temp</td>
                <td>
                    <textarea placeholder="@placeholder" class="@item.City.Replace(" ", "-")">@item.Comments</textarea>
                    <button id="@item.City.Replace(" ", "-")" class="btn @btnBgc btn-rounded btn-sm my-0 add">
                        @btnText
                    </button>
                    @if (!string.IsNullOrEmpty(item.Comments))
                    {
                        <button id="@item.City.Replace(" ", "-")" class="btn btn-danger btn-rounded btn-sm my-0 remove">
                           Remove
                        </button>
                    }

                </td>
            </tr>

        }
    </tbody>   
    </table>

